* {
    font-family: 'Arial', sans-serif;
}

.SignupContainer {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: #fff;
    padding: 25px;
    width: 35%;
    height: 100vh;
    float: right;
    text-align: right;
    align-content: center;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
  }
  
  h1 {
    text-align: center;
    color: #444;
    margin-bottom: 20px;
  }
  
  label {
    font-size: 14px;
    font-weight: bold;
    color: #444;
    margin-bottom: 5px;
    display: block;
  }
  
  input {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    outline: none;
    text-align: right;
    transition: 0.3s;
  }

  input:focus {
    border-color: #2575fc;
    box-shadow: 0px 0px 5px rgba(37, 117, 252, 0.5);
  }
  
  .error {
    color: red;
    font-size: 12px;
    margin-bottom: 10px;
    display: none;
  }
  
  .Line{
    margin-top: 40px ;
  }

  .submit {
    background: #4aa356;
    color: white;
    border: none;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 6px;
    width: 100%;
    transition: 0.3s;
    text-align: center;
  }
  
  .submit:hover {
    background: #139324;
    cursor: pointer;
  }
  
  .link {
    font-size: 14px;
    font-weight: bold;
    color: #444;
    margin-bottom: 5px;
    display: block;
  }
  
  .btn-container {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
  
  .btn-color-mode-switch {
    display: inline-block;
    margin: 0px;
    position: relative;
  }
  
  .btn-color-mode-switch>label.btn-color-mode-switch-inner {
    margin: 0px;
    width: 100px;
    height: 30px;
    background-color: #4aa356;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease;
  }
  
  .btn-color-mode-switch>label.btn-color-mode-switch-inner:before {
    content: attr(data-on);
    position: absolute;
    font-size: 16px;
    font-weight: 600;
    top: 5px;
    right: 7px;
    color: #c1c1c1;
    cursor: pointer;
  }
  
  .btn-color-mode-switch>label.btn-color-mode-switch-inner:after {
    content: attr(data-off);
    width: 48px;
    height: 16px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    font-size: 15px;
    display: flex;
    justify-content: center;
    left: 2px;
    top: 2px;
    text-align: center;
    transition: all 0.3s ease;
    padding: 5px 0px;
    color: #222;
    font-weight: 600;
    cursor: pointer;
  }
  
  .btn-color-mode-switch input[type="checkbox"] {
    cursor: pointer;
    width: 35px;
    height: 20px;
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: 1;
    margin: 0px;
  }
  
  .btn-color-mode-switch input[type="checkbox"]:checked+label.btn-color-mode-switch-inner {
    background-color: #4aa356;
  }
  
  .btn-color-mode-switch input[type="checkbox"]:checked+label.btn-color-mode-switch-inner:after {
    content: attr(data-on);
    left: 50px;
  }
  
  .btn-color-mode-switch input[type="checkbox"]:checked+label.btn-color-mode-switch-inner:before {
    content: attr(data-off);
    right: auto;
    left: 15px;
  }
  
  .flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  
  
  